body { 
    background-color:#f1f1f1; 
}

footer { 
    text-align: center; 
}

.langlist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
    
}

.langlist ul{
    background-color: rgb(226, 226, 226);
}
